#Java compiled files 
*.class

.idea/workspace.xml

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
